@font-face {
    font-family: 'a_Alterna';
    src: url('./fonts/AAlterna.woff2') format('woff2'),
        url('./fonts/AAlterna.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

