
@font-face {
    font-family: 'Tangerine';
    src: local('Tangerine Bold'), local('Tangerine-Bold'), url('./fonts/Tangerine-Bold.woff2') format('woff2'), url('./fonts/Tangerine-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
