extends ../../blocks/page/page
block main
  main.portfolio.block
    nav.portfolio__links
      a.title-link(href="#")
        h2 Галерея
      .portfolio__categories
        +categories(categories)
    .portfolio__pictures
      +mainPictures(images)
  .blog-preview.color-container.block
    a.title-link(href="#")
        h2.blogcards__title Новости, статьи
    .blogcards
      +blogcard(articles)
