include ../../base/variables
include ../../base/mixins

header.header
    .header__container
      nav.header__nav
        a.brand(href="#") Tatiana Yasin
        button.header__toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
          span.header__icon
        .header__menu(id="navbarNav")
          ul.header__list
            +headerMenu(mainMenuItems)
