.container
  h1.logo Tatiana Verde

  br
  h1.nk Заголовок 1
  article
    h2.nk Заголовок 2 Дnk Header

    p What is Lorem Ipsum?
    p Кстати, представители современных социальных резервов представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть разоблачены. Прежде всего, новая модель организационной деятельности прекрасно подходит для реализации поставленных обществом задач. Повседневная практика показывает, что граница обучения кадров напрямую зависит от своевременного выполнения сверхзадачи. В целом, конечно, глубокий уровень погружения является качественно новой ступенью модели развития.
