- var phoneNumber = "+79012345678"
- var emailText = "yasin.ta@gmail.com"
- var adressText = "Москва"

-
  var mainMenuItems = [['/layouts/main/main.html', 'Главная'],
                       ['/layouts/works/works.html', 'Работы'],
                       ['/layouts/posts/posts.html', 'Блог'],
                       ['/layouts/contact/contact.html', 'Контакты']]

- var categories = ['Абстракция', 'Пейзажи', 'Животные', 'Люди', 'Море']
-
  var images = [['/images/img/branch/thumbnail.webp', '/images/img/branch/front.webp', '/images/img/branch/side.webp', '/images/img/branch/back.webp', 'Цветущая ветка'],
                ['/images/img/gogh/thumbnail.webp', '/images/img/gogh/front.webp', '/images/img/gogh/side.webp', '/images/img/gogh/back.webp', 'Копия Ван Гог'],
                ['/images/img/gull/thumbnail.webp', '/images/img/gull/front.webp', '/images/img/gull/side.webp', '/images/img/gull/back.webp', 'Чайка'],
                ['/images/img/mosaic/thumbnail.webp', '/images/img/mosaic/front.webp', '/images/img/mosaic/side.webp', '/images/img/mosaic/back.webp', 'Мозаичная абстракция'],
                ['/images/img/peacock/thumbnail.webp', '/images/img/peacock/front.webp', '/images/img/peacock/side.webp', '/images/img/peacock/back.webp', 'Павлин'],
                ['/images/img/rain/thumbnail.webp', '/images/img/rain/front.webp', '/images/img/rain/side.webp', '/images/img/rain/back.webp', 'Дождь'],
                ['/images/img/secret/thumbnail.webp', '/images/img/secret/front.webp', '/images/img/secret/side.webp', '/images/img/secret/back.webp', 'Таинственная незнакомка'],
                ['/images/img/space/thumbnail.webp', '/images/img/space/front.webp', '/images/img/space/side.webp', '/images/img/space/back.webp', 'Космос'],
                ['/images/img/spiral/thumbnail.webp', '/images/img/spiral/front.webp', '/images/img/spiral/side.webp', '/images/img/spiral/back.webp', 'Спираль'],
                ['/images/img/streaks/thumbnail.webp', '/images/img/streaks/front.webp', '/images/img/streaks/side.webp', '/images/img/streaks/back.webp', 'Линии'],
                ['/images/img/triangles/thumbnail.webp', '/images/img/triangles/front.webp', '/images/img/triangles/side.webp', '/images/img/triangles/back.webp', 'Треугольники'],
                ['/images/img/water/thumbnail.webp', '/images/img/water/front.webp', '/images/img/water/side.webp', '/images/img/water/back.webp', 'Вода и горы']]


-
  var articles = [['http://placeimg.com/150/100/nature', 'Убеждённость некоторых оппонентов станет частью традиций', 'А ещё реплицированные с зарубежных источников, современные исследования представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть ассоциативно распределены по отраслям. Но непосредственные участники технического прогресса объявлены нарушающими общечеловеческие нормы этики и морали. Постоянное информационно-пропагандистское обеспечение нашей деятельности, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для инновационных методов управления процессами.'],
                  ['http://placeimg.com/150/100/peolpe', 'Коронованный герцог графства не стал ограничивающим фактором', 'Каждый из нас понимает очевидную вещь: высококачественный прототип будущего проекта требует от нас анализа глубокомысленных рассуждений. Кстати, представители современных социальных резервов в равной степени предоставлены сами себе. Но независимые государства, превозмогая сложившуюся непростую экономическую ситуацию, представлены в исключительно положительном свете.'],
                  ['http://placeimg.com/150/100/architecture', 'Идейные соображения высшего порядка', 'Задача организации, в особенности же новая модель организационной деятельности влечет за собой процесс внедрения и модернизации модели развития. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения дальнейших направлений развития. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры представляет собой интересный эксперимент проверки дальнейших направлений развития. Равным образом постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке направлений прогрессивного развития. Таким образом консультация с широким активом в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. Значимость этих проблем настолько очевидна, что сложившаяся структура организации позволяет оценить значение направлений прогрессивного развития.'],
                  ['http://placeimg.com/150/100/animals', 'Экономическая повестка сегодняшнего дня', 'С другой стороны, граница обучения кадров создаёт предпосылки для новых предложений. Противоположная точка зрения подразумевает, что интерактивные прототипы, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут подвергнуты целой серии независимых исследований. В частности, социально-экономическое развитие, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для соответствующих условий активизации.']]
