- var phoneNumber = "+79012345678"
- var emailText = "tatianaverde@gmail.com"
- var adressText = "Москва"

- var mainMenuItems = ['Главная', 'Работы', 'Блог', 'Контакты']
- var categories = ['Абстракция', 'Пейзажи', 'Животные', 'Люди']
